
/* 滚动条自定义样式 */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
 
::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  display: none;
}
 
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(144, 147, 153, 0.3);
  -webkit-border-radius: 6px;
}
 
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(144, 147, 153, 0.3);
  -webkit-border-radius: 6px;
}
.el-table__fixed, .el-table__fixed-right{
  height: calc(100% - 20px) !important;
  }